<div id="wrapper">
  <h1>Scraper</h1>
  <div>
    <button id="beginScrape">Begin Scrape</button>
  </div>
  
  <main id="articles">
    <ul>
      {{#each articles}}
        <li> {{this.title}} </li>
        <!--li><span>Link:</span> <a href= "https://www.aljazeera.com{{this.link}}"</a></li-->
        <li> https://www.aljazeera.com/ {{this.link}} </li>
    

        <button data-id={{this._id}} id = "addBtn" type="button" class="btn btn-info">Add Note</button>
        <button data-article={{this._id}} data-id={{this.note._id}} id = "delBtn" type="button" class="btn btn-danger">Delete Note</button>
        <br>
      {{/each}}
    </ul>
        <div id="articles"></div>
        <div id="notes"></div>
  </main>
  <aside id="notes"></aside>
</div>